.pomo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.work {
    color: #61dafb;
    background-color: #282c34;
}

.work .CircularProgressbar-path {
    stroke: #61dafb;
    stroke-width: 6;
}

.work .CircularProgressbar-text {
    fill: #61dafb;
}

.break {
    color: #61fbae;
    background-color: #283430;
}

.break .CircularProgressbar-path {
    stroke: #61fbae;
    stroke-width: 6;
}

.break .CircularProgressbar-text {
    fill: #61fbae;
}

.message {
    font-size: 4rem;
    margin-bottom: 4rem;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: transparent;
  }


  .buttons{
      display: flex;
  }

  .button {
    margin: 2rem;
      border: 2px solid ;
      border-radius: 50%;
      height: 120px;
      width: 120px;
      display: grid;
      place-items: center;
      user-select: none;
  }

  .settings-button {
      position: absolute;
      top: 5px;
      right: 5px;
      opacity: 0.1;
  }

  .settings-button:hover {
      opacity: 0.3;
  }

  #settings-icon {
    font-size: calc(2em + 1vw)
  }

