#pomo-settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #606a80;
    color: rgb(228, 233, 250);
    /* border: 2px solid #264686; */
    border-radius: 0.5rem;
    letter-spacing: 0.05rem;
}

h3 {
    text-align: center;
    font-weight: normal;
}

.settings {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row-gap: 1rem;
    padding: 15px;
}

input {
    max-width: 100%;
}

.close-button {
    background-color: #264686;
    width: max-content;
    max-width: 200px;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 5px;
    user-select: none;
}